<div class='container'>

  <h1 class="main-title text-center">
    Welcome to JuPiBnB <i class="fa fa-binoculars"></i>
  </h1>

  <div class="row">

    <% @flats.each do |flat| %>
      <!-- <tr>
        <td><%= image_tag flat.picture.url(:medium) %></td>
        <td><%= flat.city %></td>
        <td><%= flat.availability %></td>
        <td><%= link_to 'View details & book', flat %></td>
        <td><%= link_to 'Delete flat', flat, method: :delete, data: {confirm: 'are you sure?'} %></td>
      </tr> -->

      <div class="col-lg-6 text-center">
        <div class="row">
          <div class="col-sm-6">
            <%= image_tag flat.picture.url(:medium) %>
          </div>
          <div class="col-sm-6">
            <%= flat.city %>
            <%= flat.availability %></td>
            <%= link_to 'View details & book', flat %>
           <%= link_to 'Delete flat', flat, method: :delete, data: {confirm: 'are you sure?'} %>
          </div>
        </div>

      </div>

    <% end %>

  </div>


  <%= link_to 'Add flat for rent', new_flat_path %>

</div>



