<div class='container'>

  <h1>Welcome to JuPiBnB</h1>

  <table>
    <thead>
      <tr>
        <th>List of flats</th>
        <th>City</th>
         <th>Availability</th>
         <th></th>
         <th></th>
      </tr>
    </thead>

    <tbody>
      <% @flats.each do |flat| %>
        <tr>
          <td><%= image_tag flat.picture.url(:medium) %></td>
          <td><%= flat.city %></td>
          <td><%= flat.availability %></td>
          <td><%= link_to 'View details & book', flat %></td>
          <td><%= link_to 'Delete flat', flat, method: :delete, data: {confirm: 'are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add flat for rent', new_flat_path %>

</div>

